

#inputcontainer {
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;


}




.favorable {
    background-color: green;
    color:white
}



#theblankpart{
    display: flex;
    justify-content: center;
    align-items: center;
}

#blacknavbar {
    background-color: black;
}



.card-header {
    background-color: black;
    color: white;
}